body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(to bottom right, rgb(120, 120, 120), rgb(74, 74, 74)); */
  background-color: grey;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: right;
  margin-bottom: 0px;
  text-decoration: underline;
  text-decoration-color: rgb(153, 255, 0);
  text-decoration-style: double;
}

h2 {
  margin: 0px;
  text-align: right;
  font-size: 1rem;
  text-decoration: underline;
  text-decoration-color: rgb(252, 0, 173);
  text-decoration-style: double;
}

h3 {
  text-decoration: underline;
  text-decoration-style: double;
  text-underline-offset: 3px;
  text-decoration-color: rgb(0, 255, 208);
}

hr {
  color: rgb(174, 255, 0);
  margin: 1px;
}

#container {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  max-width: 800px;
  width: 90%;
}

#navbar {
  border-style: double;
  border-width: 5px;
  border-color: rgb(81, 0, 255);
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

#navbar a {
  color: rgb(55, 55, 55);
}

#icons {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0px 4px;
}

#icons img {
  width: 30px;
  margin: 0px 5px;
}

#content {
  display: flex;
  justify-content: center;
}

.page {
  width: 80%;
  border-color: rgb(151, 159, 119);
  border-color: rgb(168, 196, 107);
  border-style: double;
  border-width: 5px;
  background-color: rgb(120, 120, 120);
  margin: 20px;
  padding: 0px 25px;
}

#imageCarousel {
  /* display: flex; */
  justify-content: center;
}

#carousel {
  width: 100%;
}

#carouselButtons {
  text-align: center;
}

.carouselButton {
  font-size: 2rem;
  padding: 5px;
}

#caption {
  text-align: center;
  font-size: 0.9rem;
  margin: 0px;
}
